@import "tailwindcss";

@font-face {
    font-family: "Sugo Pro Display";
    src: url("../assets/fonts/SugoProDisplayTrial-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Gill Sans Ultra Bold Condensed";
    src: url("../assets/fonts/GillSansUltraBoldCondensed.woff2") format("woff2");
    font-weight: 900;
    font-display: swap;
}


@theme {
    --font-sugo: "Sugo Pro Display", sans-serif;
    --font-gill: "Gill Sans Ultra Bold Condensed", sans-serif;
    --font-lato: "Lato", sans-serif;

    --black: oklch(0 0 0); 
    /* #000000; */
    --green: oklch(0.3861 0.059 188.42);
    /* #134e4a */
    --light-green: oklch(0.7845 0.1325 181.91);
    /* #2dd4bf */
    --pink: oklch(0.8077 0.1035 19.57);
    /* #fca5a5 */
    --white: oklch(0.9851 0 0);
    /* #fafafa */
}