---
import Layout from "../layouts/Layout.astro";
import StreakDisplay from "../components/StreakDisplay.astro";
import WordOfDay from "../components/WordOfDay.astro";
import GamesSection from "../components/GamesSection.astro";
---

<Layout title="Gestons! - Accueil">
    <div class="flex flex-col gap-8 py-6">
        <StreakDisplay
            streakDays={5}
            level={4}
            starsProgress={3}
            totalStars={5}
        />

        <hr class="border-(--light-green) mx-4" />

        <WordOfDay word="Bonjour" wordId="bonjour" />

        <hr class="border-(--light-green) mx-4" />

        <GamesSection />
    </div>
</Layout>
