---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1 class="font-sugo text-4xl">Test Sugo</h1>
	<p class="font-gill text-4xl">Test Gill Sans</p>
	<Welcome />
</Layout>
