---
import "../styles/global.css";
import Facebook from "../assets/icon/facebook.svg";
import Tiktok from "../assets/icon/tiktok.svg";
import Insta from "../assets/icon/insta.svg";
import Breakfooter from "../assets/icon/breakfooter.svg";
import Point from "../assets/icon/point.svg";
---

<footer class="bg-[var(--green)] text-[var(--light-green)]">
    <Breakfooter />
    <section class="h-89 text-center items-center flex flex-col gap-10">
        <nav>
            <ul class="space-y-10">
                <li class="font-sugo text-6xl">
                    <a href="/contact/">Contact</a>
                </li>
                <li class="font-sugo text-6xl">
                    <a href="/about/">A propos</a>
                </li>
            </ul>
        </nav>
        <Point class="w-full h-32 scale-150 ml-10" />
    </section>
</footer>
