---
import GameCard from "./GameCard.astro";
import gameImage1 from "../assets/img/img-home1.avif";
import gameImage2 from "../assets/img/img-home2.avif";
---

<section class="flex flex-col gap-6 w-full px-4">
    <h2
        class="text-center text-4xl md:text-5xl font-gill font-black uppercase tracking-tight"
    >
        APERCU DES JEUX
    </h2>

    <GameCard
        image={gameImage1}
        alt="Jeu solo - apprendre l'alphabet en LSF"
        href="/jeux/solo"
        description="Passe à l'action : signe, joue, progresse !"
    />

    <GameCard
        image={gameImage2}
        alt="Jeu multijoueur en LSF"
        href="/jeux/multijoueur"
        description="Défie tout le monde en multijoueur : c'est ici !"
    />
</section>
