---
import mascotte from "../assets/icon/mascotte.svg";

interface Props {
    word?: string;
    wordId?: string;
}

const { word = "Bonjour", wordId = "placeholder" } = Astro.props;
---

<section class="flex flex-col items-center gap-4 w-full px-4">
    <h2 class="text-center text-3xl font-gill font-black">Le Mot du Jour !</h2>
    <p class="text-center text-lg font-bold font-lato">
        {word}
    </p>
    <div
        class="w-full max-w-xs overflow-hidden border-2 border-(--light-green) bg-black h-45"
    >
    </div>
    <a
        href={`/mots/${wordId}`}
        class="text-(--green) underline font-lato text-sm hover:text-(--light-green) transition-colors text-center"
    >
        Accédez à la fiche du mot en cliquant ici !
    </a>
</section>
